.mail-container {
  background-image: url("../img/background.jpg");
}

.message-sent {
  position: absolute;
  top: 40%;
  left: 25%;
  height: 20%;
  width: 50%;
  background-color: white;
  box-shadow: 21px 21px 47px -2px #c2c2c2;
}