.news-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-gap: 0px;
  overflow-x: hidden;
}

.news-header {
  grid-column: 1/4;
}

.news-mid {
  grid-column: 2/3;
  margin-top: 10px;
}

.card {
  margin: 0px;
}

.paginationdiv {
  grid-column: 2/3;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.news-footer {
  grid-column: 1/4;
}

/* MEDIA QUERY - START */
@media only screen and (max-width: 1200px) {
  .news-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .news-container {
    grid-template-columns: 5% 90% 5%;
  }
}
/* MEDIA QUERY - END */
.article-container {
  width: 100%;
  display: grid;
  grid-gap: 0px;
  overflow-x: hidden;
  grid-template-columns: 20% 40% 20% 20%;
}

.article-header {
  grid-column: 1/5;
}

.article-title {
  margin: 2.5% 0px;
  grid-column: 2/3;
  font-size: 2.5em;
  padding: 5px;
}

.article-carousel {
  grid-column: 2/3;
}

.article-text {
  grid-column: 2/3;
  padding: 5px;
  text-align: justify;
  margin: 2.5% 0px;
}

.article-footer {
  grid-column: 1/5;
  grid-row: 6/7;
}

.article-side-news {
  grid-column: 3/4;
  grid-row: 2/6;
  padding: 5%;
}
.article-side-news .card {
  margin: 20px 20px;
}

.side-news-title h5 {
  margin-left: 5%;
  text-align: start;
}

@media only screen and (max-width: 1200px) {
  .article-container {
    grid-template-columns: 10% 50% 30% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .article-container {
    grid-template-columns: 5% 90% 5%;
  }

  .article-header {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .article-footer {
    grid-column: 1/4;
  }

  .article-text {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .article-carousel {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .article-title {
    font-size: 1.5em;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .article-side-news {
    grid-row: 5/6;
    grid-column: 2/3;
    padding: 5%;
  }
}
.about-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.about-header {
  grid-column: 1/4;
  grid-row: 1/2;
}

.about-content {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: justify;
}

.about-content img {
  width: 100%;
  padding: 2%;
}

.about-content p {
  margin: 20px 0px;
}

.about-footer {
  grid-column: 1/4;
  grid-row: 3/4;
}

@media only screen and (max-width: 1100px) {
  .about-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    grid-template-columns: 5% 90% 5%;
  }
}
.results-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.results-header {
  grid-column: 1/4;
  margin-bottom: 1%;
}

.results-table {
  grid-column: 2/3;
  margin-bottom: 1%;
}

.results-fixtures {
  grid-column: 2/3;
}

.namecol {
  text-align: start;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.numcol {
  width: 8%;
}

.fixcolh {
  width: 37.5%;
}

.fixcolg {
  width: 37.5%;
}

.fixcolnum {
  width: 5%;
}

.fixcolres {
  width: 20%;
}

.results-footer {
  margin-top: 1%;
  grid-column: 1/4;
}

@media only screen and (max-width: 1200px) {
  .results-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .results-container {
    grid-template-columns: 5% 90% 5%;
  }
}
.main-container {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 15% 22.5% 22.5% 25% 15%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
}

.main-header {
  grid-column: 1/6;
  grid-row: 1/2;
  margin-bottom: 1%;
}

.nav-item {
  margin: 0 10px;
}

.main-carousel {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-bottom: 1%;
}

.main-table {
  grid-column: 4/5;
  grid-row: 2/5;
  padding-left: 2%;
}

.main-match-prev {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 3%;
  padding-right: 1%;
}

.main-match-next {
  grid-column: 3/4;
  grid-row: 3/4;
  margin-bottom: 3%;
  padding-left: 1%;
}

.main-match-card {
  width: 100%;
  height: 100%;
}

.main-footer {
  grid-column: 1/6;
  grid-row: 5/6;
}

/* MEDIA QUERY - START */
@media only screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content auto auto -webkit-min-content;
    grid-template-rows: min-content min-content min-content auto auto min-content;
  }

  .main-header {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .main-carousel {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .main-table {
    grid-column: 2/4;
    grid-row: 4/5;
    padding: 0px;
  }

  .main-match-prev {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .main-match-next {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .main-footer {
    grid-column: 1/5;
    grid-row: 6/7;
    margin-top: 5%;
  }

  .nav-item {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .main-container {
    grid-template-columns: 5% 45% 45% 5%;
  }
}
/* MEDIA QUERY - END */