.news-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.news-header {
  grid-column: 1/4;
  margin-bottom: 2.5%;
  font-size: 1.25em;
}

.news-mid {
  grid-column: 2/3;
}

.card {
  margin-bottom: 2.5% !important;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.paginationdiv {
  grid-column: 2/3;
}

.page-item {
  margin: 1%;
  font-weight: 500;
}

.page-link {
  background-color: white !important;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.14);
}

.news-footer {
  grid-column: 1/4;
}

/* MEDIA QUERY - START */
@media only screen and (max-width: 1200px) {
  .news-header {
    margin-bottom: 5%;
  }

  .news-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .news-container {
    grid-template-columns: 1% 98% 1%;
  }
}
/* MEDIA QUERY - END */
.article-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-header {
  grid-column: 1/5;
  font-size: 1.25em;
}

.article-title {
  grid-column: 2/3;
  margin: 5% 0%;
  font-size: 3em;
  font-weight: bolder;
}

.article-carousel {
  grid-column: 2/3;
}

.article-text {
  grid-column: 2/3;
  margin: 2.5% 0px;
  padding: 5px;
  font-size: 1.25em;
  text-align: justify;
}

.article-footer {
  grid-column: 1/5;
  grid-row: 6/7;
}

.article-side-news {
  grid-column: 3/4;
  grid-row: 2/6;
  padding-top: 15%;
  padding-left: 5%;
}
.article-side-news .card {
  margin: 5% 0px;
}

.side-news-title {
  margin-left: 5%;
  font-size: 1.5em;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  .article-container {
    grid-template-columns: 10% 50% 30% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .article-container {
    grid-template-columns: 5% 90% 5%;
  }

  .article-title {
    font-size: 2.5em;
  }

  .article-header {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 5%;
  }

  .article-footer {
    grid-column: 1/4;
    margin-top: 5%;
  }

  .article-text {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .article-carousel {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .article-title {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .article-side-news {
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 0%;
  }

  .side-news-title {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
}
.about-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.about-header {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 1.25em;
}

.about-content {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.2em;
  text-align: justify;
}

.about-content img {
  width: 100%;
}

.about-content p {
  margin: 20px 0px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.about-footer {
  grid-column: 1/4;
  grid-row: 3/4;
}

@media only screen and (max-width: 1100px) {
  .about-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .about-container {
    grid-template-columns: 5% 90% 5%;
  }
}
.results-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.results-header {
  grid-column: 1/4;
  margin-bottom: 2.5%;
  font-size: 1.25em;
}

.results-table {
  grid-column: 2/3;
  border: none !important;
}

.results-table table {
  background-color: white;
  box-shadow: 21px 50px 47px -2px #c2c2c2;
}

.results-table table tbody td {
  text-align: center;
  font-size: 1em !important;
}

.results-table table thead th {
  font-weight: bold;
  font-size: 1em !important;
  text-align: center;
}

.results-fixtures table thead th {
  text-align: center;
  font-size: 1em !important;
  font-weight: bold;
}

.results-fixtures table tbody td {
  font-size: 1em !important;
  text-align: center;
}

#tab-col-name {
  text-align: start;
  font-size: 1em;
  font-weight: 500 !important;
}

#tab-col-num {
  width: 8%;
}

.results-fixtures {
  margin-top: 5%;
  grid-column: 2/3;
}

.results-fixtures table {
  background-color: white;
  box-shadow: 21px 21px 47px -2px #c2c2c2;
}

#fix-col-h {
  width: 40%;
}

#fix-col-g {
  width: 40%;
}

#fix-col-num {
  width: 1%;
}

.results-footer {
  grid-column: 1/4;
  margin-top: 2.5%;
}

@media only screen and (max-width: 1200px) {
  .results-container {
    grid-template-columns: 10% 80% 10%;
  }
}
@media only screen and (max-width: 800px) {
  .results-container {
    grid-template-columns: 1% 98% 1%;
  }

  .results-header {
    margin-bottom: 5%;
  }

  .results-footer {
    margin-top: 5%;
  }

  .results-table table {
    box-shadow: none;
  }

  .results-fixtures table {
    box-shadow: none;
  }

  .results-table {
    overflow-x: scroll;
  }
}
.contact-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-header {
  grid-column: 1/4;
  font-size: 1.25em;
  margin-bottom: 5%;
}

.contact-form {
  grid-column: 2/3;
  background-color: white;
  box-shadow: 21px 21px 47px -2px #c2c2c2;
}

.contact-sponsors {
  background-color: #2196f3;
  grid-column: 1/4;
  text-align: center;
  color: white;
  margin-top: 5%;
}

.contact-sponsors img {
  height: 10vh;
  padding: 1%;
}

.contact-footer {
  grid-column: 1/4;
}

@media only screen and (max-width: 1200px) {
  .contact-container {
    grid-template-columns: 15% 70% 15%;
  }

  .contact-sponsors img {
    height: 10vh;
    padding: 2%;
  }
}
@media only screen and (max-width: 800px) {
  .contact-container {
    grid-template-columns: 1% 98% 1%;
  }

  .contact-sponsors img {
    height: 7.5vh;
    margin: 2.5%;
  }
}
.gallery-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.gallery-header {
  font-size: 1.25em;
}

.main-container {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 22.5% 22.5% 25% 15%;
  grid-template-rows: -webkit-min-content -webkit-min-content 12.5vw -webkit-min-content;
  grid-template-rows: min-content min-content 12.5vw min-content;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
  grid-column: 1/6;
  grid-row: 1/2;
  margin-bottom: 2.5%;
  font-size: 1.25em;
}

.nav-item {
  margin: 0 10px;
}

.main-carousel {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-bottom: 2.5%;
  background-color: white;
}

.carousel-caption {
  font-size: 1.5em !important;
}

.main-table {
  grid-column: 4/5;
  grid-row: 2/5;
  padding-left: 5%;
}

.main-table table {
  background-color: white;
  box-shadow: 21px 21px 47px -2px #c2c2c2;
}

.main-table table tr td {
  text-align: center;
  font-size: 1.1em !important;
}

#tab-col-name {
  text-align: start;
  font-weight: 450;
}

#tab-col-point {
  font-weight: bold;
}

.main-match-prev {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 1%;
  position: relative;
  background-color: #2196f3;
  color: rgba(236, 236, 236, 0.924);
}

.prev-logo {
  width: 40%;
  height: 60%;
  position: absolute;
  text-align: center;
}

.prev-logo img {
  height: 100%;
}

#prev-home-logo {
  top: 10%;
  left: 0px;
}

#prev-guest-logo {
  top: 10%;
  right: 0px;
}

.prev-name {
  width: 40%;
  position: absolute;
  top: 75%;
  text-align: center;
  font-size: 1.2em;
}

#prev-guest-name {
  right: 0px;
  color: white;
}

#prev-home-name {
  left: 0px;
  color: white;
}

#prev-date {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
}

#prev-time {
  top: 80%;
  text-align: center;
  position: absolute;
  width: 100%;
}

#prev-round {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: 1.25em;
}

.prev-score {
  height: -webkit-min-content;
  height: min-content;
  width: 88%;
  position: absolute;
  top: 33%;
  text-align: center;
  color: white;
  font-size: 1.75em;
  font-weight: 400;
}

.prev-score span {
  padding: 5px;
}

#prev-home-score {
  left: 0px;
}

#prev-guest-score {
  right: 0px;
}

.main-match-next {
  position: relative;
  grid-column: 3/4;
  grid-row: 3/4;
  margin-left: 1%;
  background-color: #2196f3;
  color: rgba(236, 236, 236, 0.924);
}

.next-logo {
  width: 40%;
  height: 60%;
  position: absolute;
  text-align: center;
}

.next-logo img {
  height: 100%;
}

#next-home-logo {
  top: 10%;
  left: 0px;
}

#next-guest-logo {
  top: 10%;
  right: 0px;
}

.next-name {
  position: absolute;
  width: 40%;
  top: 75%;
  font-size: 1.2em;
  color: white;
}

#next-guest-name {
  right: 0px;
  text-align: center;
}

#next-home-name {
  left: 0px;
  text-align: center;
}

#next-date {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

#next-time {
  top: 55%;
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1.5em;
}

#next-round {
  width: 100%;
  margin-top: 2%;
  position: absolute;
  font-size: 1.25em;
  text-align: center;
}

.main-match-card {
  width: 100%;
  height: 100%;
}

.main-sponsors {
  background-color: #2196f3;
  grid-column: 1/6;
  margin-top: 2.5%;
  text-align: center;
  color: white;
}

.main-sponsors img {
  height: 10vh;
  padding: 1%;
}

.main-footer {
  grid-column: 1/6;
}

/* MEDIA QUERY - START */
@media only screen and (max-width: 1400px) {
  .prev-score {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: -webkit-min-content -webkit-min-content 22.5vw auto auto -webkit-min-content;
    grid-template-rows: min-content min-content 22.5vw auto auto min-content;
  }

  .main-header {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .main-carousel {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .main-table {
    grid-column: 2/4;
    grid-row: 4/5;
    margin-top: 2.5%;
    padding: 0px;
    font-size: 14px;
  }

  .main-match-prev {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .prev-score {
    font-size: 1.75em;
  }

  .main-match-next {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .main-sponsors img {
    height: 10vh;
    padding: 2%;
  }

  .main-footer {
    grid-column: 1/5;
    grid-row: 6/7;
  }

  .nav-item {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .main-container {
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: -webkit-min-content -webkit-min-content 35vw 35vw auto auto -webkit-min-content;
    grid-template-rows: min-content min-content 35vw 35vw auto auto min-content;
  }

  .main-header {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .main-carousel {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .carousel-caption {
    font-size: 1.25em !important;
  }

  .main-match-next {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 14px;
  }

  .main-match-prev {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0px;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 14px;
  }

  .main-table {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 2.5%;
  }

  .main-table table {
    box-shadow: none;
  }

  .main-sponsors {
    grid-row: 6/7;
  }

  .main-footer {
    grid-row: 7/8;
  }

  #next-time {
    top: 55%;
  }

  .main-sponsors img {
    height: 7.5vh;
    margin: 2.5%;
  }
}
/* MEDIA QUERY - END */