.article-container{
    width: 100%;
    display: grid;
    grid-gap: 0px;
    overflow-x: hidden;
    grid-template-columns: 10% 55% 25% 10% ; 
}

.article-header{
    grid-column: 1/5;
}

.article-title{
    margin-top: 5%;
    grid-column: 2/3;
    font-size: 2.5em;
    padding: 5px;
}

.article-carousel{
    grid-column: 2/3;
}


.article-text{
    grid-column: 2/3;
    padding: 5px;
}

.article-footer{
    grid-column: 1/5;
}

.article-side-news{
    grid-column: 3/4;
    grid-row: 2/5;
    padding: 10%;

    .card{
        margin: 20px 20px;
    }
}

.side-news-title h5{
    margin-left: 5%;
    text-align: start;
}
@media only screen and (max-width: 1000px) {

    .article-container{
        grid-template-columns: 5% 90% 5%;
    }  

    .article-header{
        grid-columns: 1/4;
        grid-row: 1/2;
    }
    .article-footer{
        grid-columns: 1/4;
    }
    .article-text{
        grid-column: 2/3;
        grid-row: 4/5;

    }
    .article-carousel{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .article-title{
        font-size: 2em;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .article-side-news{
        grid-row: 5/6;
        grid-column: 2/3;
        padding: 5%;
    }

}

