.contact-container{
    background-image: url(../img/background2.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.contact-header{
    grid-column: 1/4;
}

.contact-form{
    grid-column: 2/3;
    margin-top: 7.5%;
}

.contact-footer{
    grid-column: 1/4;
}

.contact-sponsors{
    grid-column: 1/4;
    margin-top: 7.5%;
    background-color:rgb(33,150,243);
    text-align: center;
}

.contact-sponsors img{
    height: 10vh;
    padding: 1%;
}

@media only screen and (max-width: 1200px){
    .contact-container{
    grid-template-columns: 15% 70% 15%;}

    .contact-sponsors img{
        height: 10vh;
        padding: 2%;
    }

}

@media only screen and (max-width: 800px){
    .contact-container{
    grid-template-columns: 5% 90% 5%;}

    .main-sponsors img{
        height: 7.5vh;
        padding: 2%;
    }
}