.gallery-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/background2.jpg);
    background-size: cover;
}

.gallery-header{
    font-size: 1.25em !important;
}