@import "news";
@import "article";
@import "about";
@import "results";
@import "contact";
@import "gallery";

.main-container{
    
    background-image: url(../img/background.jpg);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 22.5% 22.5% 25% 15%;
    grid-template-rows: min-content min-content 12.5vw min-content;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header{
    grid-column: 1/6;
    grid-row: 1/2;
    margin-bottom: 2.5%;
    font-size: 1.25em !important;
}

.nav-item{
    margin: 0 10px;
}

.main-carousel{
    grid-column: 2/4;
    grid-row: 2/3;
    margin-bottom: 2.5%;
    background-color: white;
}

.carousel-caption{
    font-size: 1.5em !important;
}

.main-table{
    grid-column: 4/5;
    grid-row: 2/5;
    padding-left: 5%;
}

.main-table table{
    background-color: white;
    -webkit-box-shadow: 21px 21px 47px -2px rgba(194,194,194,1);
    -moz-box-shadow: 21px 21px 47px -2px rgba(194,194,194,1);
    box-shadow: 21px 21px 47px -2px rgba(194,194,194,1);
}

.main-table table tr td{
    text-align: center;
    font-size: 1.1em !important;
}

#tab-col-name{
    text-align: start;
    font-weight: 450;
}

#tab-col-point{
    font-weight: bold;
}


// PREV MATCH-----------------------------------------------------------------------------------------------

.main-match-prev{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-right: 1%;
    position: relative;
    background-color: rgb(33,150,243);
    color: rgba(236, 236, 236, 0.924);
}

.prev-logo{
    width: 40%;
    height: 60%;
    position: absolute;
    text-align: center;
}

.prev-logo img{
    height: 100%;
}

#prev-home-logo{
    top: 10%;
    left: 0px;
}

#prev-guest-logo{
    top: 10%;
    right: 0px;
}

.prev-name{
    width: 40%;
    position: absolute;
    top: 75%;
    text-align: center;
    font-size: 1.2em;
}

#prev-guest-name{
    right: 0px;
    color: white;
}

#prev-home-name{
    left: 0px;
    color: white;
}

#prev-date{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
}

#prev-time{
    top: 80%;
    text-align: center;
    position: absolute;
    width: 100%;
}

#prev-round{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: 1.25em;
}

.prev-score{
    height: min-content;
    width: 88%;
    position: absolute;
    top: 33%;
    text-align: center;
    color: white;
    font-size: 1.75em;
    font-weight: 400;
}

.prev-score span{
    padding: 5px;
}

#prev-home-score{
    left: 0px;
}

#prev-guest-score{
    right: 0px;
}


// NEXT MATCH ----------------------------------------------------------------------------------------------

.main-match-next{
    position: relative;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-left: 1%;
    background-color: rgb(33,150,243);
    color: rgba(236, 236, 236, 0.924);
    
}

.next-logo{
    width: 40%;
    height: 60%;
    position: absolute;
    text-align: center;
}

.next-logo img{
    height: 100%;
}

#next-home-logo{
    top: 10%;
    left: 0px;
}

#next-guest-logo{
    top: 10%;
    right: 0px;
}

.next-name{
    position: absolute;
    width: 40%;
    top: 75%;
    font-size: 1.2em;
    color: white;
}

#next-guest-name{
    right: 0px;
    text-align: center;
}

#next-home-name{
    left: 0px;
    text-align: center;
}

#next-date{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

#next-time{
    top: 55%;
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    font-size: 1.5em;
}

#next-round{
    width: 100%;
    margin-top: 2%;
    position: absolute;
    font-size: 1.25em;
    text-align: center;
}

.main-match-card{
    width: 100%;
    height: 100%;
}

.main-sponsors{
    background-color:rgb(33,150,243);
    grid-column: 1/6;
    margin-top: 2.5%;
    text-align: center;
    color: white;
}

.main-sponsors img{
    height: 10vh;
    padding: 1%;
}

.main-footer{
    grid-column: 1/6;
}


/* MEDIA QUERY - START */
@media only screen and (max-width: 1400px){
    .prev-score{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1200px) {
    .main-container{
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: min-content min-content 22.5vw auto auto min-content;
    }

    .main-header{
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .main-carousel{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    
    .main-table{
        grid-column: 2/4;
        grid-row: 4/5;
        margin-top: 2.5%;
        padding: 0px;
        font-size: 14px;
    }

    .main-match-prev{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .prev-score{
        font-size: 1.75em;
    }

    .main-match-next{
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .main-sponsors img{
        height: 10vh;
        padding: 2%;
    }

    .main-footer{
        grid-column: 1/5;
        grid-row: 6/7;
    }

    .nav-item{
        text-align: center;
    }

  }

@media only screen and (max-width: 800px) {
    .main-container{
        grid-template-columns: 1% 98% 1%;
        grid-template-rows: min-content min-content 35vw 35vw auto auto min-content;
    }

    .main-header{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .main-carousel{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .carousel-caption{
        font-size: 1.25em !important;
    }

    .main-match-next{
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0px;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 14px;
    }

    .main-match-prev{
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 0px;
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 14px;
    }

    .main-table{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-top: 2.5%;
    }

    .main-table table{
        box-shadow: none;
    }
    
    .main-sponsors{
        grid-row: 6/7;
    }

    .main-footer{
        grid-row: 7/8;
    }
    
    #next-time{
        top: 55%;
    }

    .main-sponsors img{
        height: 10vh;
        margin: 2.5%;
    }

}

/* MEDIA QUERY - END */
